// Make sure to set the image tag xxxx to the correct type: arm64 or amd64
// For format details, see https://aka.ms/vscode-remote/devcontainer.json or this file's README at:
// https://github.com/microsoft/vscode-dev-containers/tree/v0.112.0/containers/docker-existing-dockerfile
{
	"name": "Ubuntu Cross",
	"context": ".",
	"image": "tcwan/ubuntu-24_04-rpi5cross:xxxx",
	// "build": {
    // "dockerfile": "./Dockerfile.xxxx",
    // "context": "."
	// },
	"workspaceMount": "source=${localWorkspaceFolder},target=/workspace/${localWorkspaceFolderBasename},type=bind,consistency=cached", 
	"workspaceFolder": "/workspace/${localWorkspaceFolderBasename}",
	"settings": {
		"terminal.integrated.shell.linux": "/bin/bash",
		"remote.containers.workspaceMountConsistency": "cached"
	},
	"runArgs": [
		// "--env-file", ".devcontainer/devcontainer.env",
		"--network", "host",
		"--cap-add=SYS_PTRACE",
		"--security-opt", "seccomp=unconfined",
	],
	"extensions": [
		"ms-vscode.makefile-tools",
		"ms-vscode.cpptools-extension-pack",
		"webfreak.debug"
	]
}
